Repository huebama-ting/huebama-ting.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write --ignore-unknown, eslint

.lintstagedrc:

{
  "*.{css,scss,sass}": ["stylelint", "prettier --write --ignore-unknown"],
  "*.{js,ts,json}": ["eslint", "prettier --write --ignore-unknown"],
  "*.{jsx,tsx}": ["stylelint", "eslint", "prettier --write --ignore-unknown"],
  "!(*.css|*.js|*.jsx|*.json|*.ts|*.tsx)": ["prettier --write --ignore-unknown"]
}

Update Stylelint commands
  package.json
Due: prettier --write --ignore-unknown, eslint

Remove unneeded package
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Update Stylelint config
  stylelint.config.js
Due: prettier --write --ignore-unknown, eslint

Lint CSS
  src/app/components/doll/DollCard.tsx
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/styles/doll-card.module.css
  src/app/components/doll/styles/doll-details.module.css
  src/app/shared/styles/animation.css
  src/index.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Update lint-staged config
  .lintstagedrc
Due: none

Remove redundant styles
  src/index.css
Due: stylelint, prettier --write --ignore-unknown

Convert animation styles to CSS module
  src/app/components/doll/DollCard.tsx
  src/app/shared/styles/animation.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Switch icon package
  package.json
  pnpm-lock.yaml
  src/app/common/ColourModeToggle.tsx
  src/app/common/NavigationBar.tsx
  src/app/common/PwaReloadPrompt.tsx
  src/app/components/doll/DollRarity.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update chunking config
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Adjust rarity text font size
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Adjust toggle size
  src/app/common/ColourModeToggle.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Adjust card text
  src/app/components/doll/DollCard.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Simplify page layout
  src/app/components/doll/DollDetails.tsx
  src/app/routes/coop/CoopReport.tsx
  src/app/routes/doll/DollDirectory.tsx
  src/app/routes/doll/DollInfo.tsx
  src/app/routes/home/Home.tsx
  src/app/shared/components/Layout.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Loop carousel
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Adjust carousel sizing
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move doll directory inline style props to dedicated styles
  src/app/routes/doll/DollDirectory.tsx
  src/app/routes/doll/styles/doll-directory.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move doll card inline style props to dedicated styles
  src/app/components/doll/DollCard.tsx
  src/app/components/doll/styles/doll-card.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move doll details inline style props to dedicated styles
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Update breakpoint values
  postcss.config.js
Due: prettier --write --ignore-unknown, eslint

Update doll details styling
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown

Update coop report content view styling
  src/app/components/coop-report/CoopReportContentView.tsx
  src/app/components/coop-report/styles/coop-report-content-view.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Update coop report page styling
  src/app/routes/coop/CoopReport.tsx
  src/app/routes/coop/styles/coop-report.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Adjust select styling
  src/app/components/coop-report/CoopReportSelect.tsx
  src/app/components/coop-report/styles/coop-report-select.module.css
  src/app/routes/coop/styles/coop-report.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move coop report content inline style props to dedicated styles
  src/app/components/coop-report/CoopReportContentView.tsx
  src/app/components/coop-report/styles/coop-report-content-view.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move nav wrapper inline style props to dedicated styles
  src/app/common/NavWrapper.tsx
  src/app/common/styles/nav-wrapper.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move navigation bar inline style props to dedicated styles
  src/app/common/NavigationBar.tsx
  src/app/common/styles/navigation-bar.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Move PWA prompt style props to dedicated styles
  src/app/common/PwaReloadPrompt.tsx
  src/app/common/styles/pwa-reload-prompt.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Simplify dividers
  src/app/components/coop-report/CoopReportContentView.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Move error element inline style props to dedicated styles
  src/app/routes/ErrorElement.tsx
  src/app/routes/styles/error-element.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Re-enable coop access code logic
  src/app/common/NavigationBar.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Add Aria labels
  src/app/common/PwaReloadPrompt.tsx
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove unneeded dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Fix doll file name
  src/assets/dolls/delacey.json
Due: prettier --write --ignore-unknown, eslint

Remove redundant constants
  src/app/shared/constants.ts
Due: prettier --write --ignore-unknown, eslint

Replace media queries with mantine mixin
  src/app/components/coop-report/styles/coop-report-content-view.module.css
  src/app/components/coop-report/styles/coop-report-select.module.css
  src/app/components/doll/styles/doll-details.module.css
  src/app/routes/coop/styles/coop-report.module.css
Due: stylelint, prettier --write --ignore-unknown

Fix mixin usage
  src/app/components/coop-report/styles/coop-report-select.module.css
Due: stylelint, prettier --write --ignore-unknown
