Repository huebama-ting/huebama-ting.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write --ignore-unknown, eslint

Add dependabot configuration
  .github/dependabot.yml
Due: none

Update pipeline
  .github/workflows/deploy.yml
Due: none

Update dependabot to ignore ESLint
  .github/dependabot.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Overhaul error page
  src/app/common/NavWrapper.tsx
  src/app/routes/ErrorElement.tsx
  src/app/shared/Layout.tsx
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update ESLint config
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Lazy load carousel
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update global layout
  src/app/common/NavigationBar.tsx
  src/app/shared/Layout.tsx
  src/index.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Add skin rarity text
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/Rarity.tsx
  src/app/types/doll.ts
  src/assets/dolls/abigail.json
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove redundant CSS
  src/index.css
Due: stylelint, prettier --write --ignore-unknown

Increase image size
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Improve card layout
  src/app/components/doll/DollCard.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update ESLint config
  eslint.config.js
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove redundant theme override
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Add scrolling for long names on card
  src/app/components/doll/DollCard.tsx
  src/app/shared/styles/animation.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Update doll names
  src/assets/dolls/centaureissi-sp.json
  src/assets/dolls/persicaria-sp.json
Due: prettier --write --ignore-unknown, eslint

Reorganise shared folder structure
  src/app/common/NavWrapper.tsx
  src/app/common/NavigationBar.tsx
  src/app/components/doll/DollDetails.tsx
  src/app/routes/CoopReport.tsx
  src/app/routes/DollDirectory.tsx
  src/app/routes/DollInfo.tsx
  src/app/routes/ErrorElement.tsx
  src/app/routes/Home.tsx
  src/app/shared/components/Carousel.tsx
  src/app/shared/components/Layout.tsx
  src/app/shared/components/Loading.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update pipeline comments
  .github/workflows/deploy.yml
Due: none

Reduce bottom darkening on card
  src/app/components/doll/DollCard.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Use colour inversion on card name container
  src/app/components/doll/DollCard.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update pnpm settings
  .npmrc
Due: none

Tweak colours
  src/app/components/doll/DollCard.tsx
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove reundant style
  src/index.css
Due: stylelint, prettier --write --ignore-unknown

Simplify ESLint config
  eslint.config.js
  tsconfig.eslint.json
Due: prettier --write --ignore-unknown, eslint

Add skeleton to home icon
  src/app/routes/Home.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Add missing doll
  src/assets/dolls/rintaro-okabe.json
Due: prettier --write --ignore-unknown, eslint

Conditionally render rarity text
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Rename files
  src/app/components/coop-report/CoopReportSelect.tsx
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/DollRarity.tsx
  src/app/routes/CoopReport.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Move skin image to dedicated component
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update dependabot package suppressions
  .github/dependabot.yml
Due: none

Add Mantine
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tsconfig.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Path conditions:
  stylelint: (any of: *.{css,scss,sass}) or (any of: *.{jsx,tsx})
  prettier --write --ignore-unknown: ((any of: *.{css,scss,sass}) or (any of: *.{js,ts,json})) or (any of: *.{jsx,tsx})
  eslint: (any of: *.{js,ts,json}) or (any of: *.{jsx,tsx})
