Repository huebama-ting/huebama-ting.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write --ignore-unknown, eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Add mobile navigation bar
  src/app/common/NavigationBar.tsx
  src/app/common/styles/navigation-bar.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Automatically close mobile nav when button is clicked
  src/app/common/NavigationBar.tsx
Due: prettier --write --ignore-unknown, eslint

Add PurgeCSS
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Fix card styles
  src/app/components/doll/DollCard.tsx
  src/app/components/doll/styles/doll-card.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Update aria labels
  src/app/common/ColourModeToggle.tsx
  src/app/common/NavigationBar.tsx
Due: prettier --write --ignore-unknown, eslint

Update turbo console config
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Rename NavWrapper to Shell
  package.json
  pnpm-lock.yaml
  src/app/common/Shell.tsx
  src/app/common/styles/shell.module.css
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update .gitignore
  .gitignore
Due: none

Rename doll
  src/assets/dolls/hubble-sp.json
Due: prettier --write --ignore-unknown, eslint

Update ESLint config
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Fix PurgeCSS overzealous strip
  src/app/components/coop-report/styles/coop-report-content-view.module.css
Due: stylelint, prettier --write --ignore-unknown

Fix lint issues
  src/app/common/NavigationBar.tsx
  src/app/components/doll/DollDetails.tsx
  src/app/routes/coop/CoopReport.tsx
Due: prettier --write --ignore-unknown, eslint

Revert report tab reveal
  src/app/common/NavigationBar.tsx
Due: prettier --write --ignore-unknown, eslint

Update imports
  package.json
  pnpm-lock.yaml
  src/app/components/doll/DollDetails.tsx
Due: prettier --write --ignore-unknown, eslint

Update Dependabot config
  .github/dependabot.yml
Due: none

Fix linting issues
  eslint.config.js
  src/app/common/NavigationBar.tsx
  src/app/components/doll/DollDetails.tsx
Due: prettier --write --ignore-unknown, eslint

Update Dependabot ignores
  .github/dependabot.yml
Due: none

Clean up ESLint config
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Clean up ESLint config again
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Simplify ESLint config
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Path conditions:
  stylelint: any of: *.css
  prettier --write --ignore-unknown: (any of: *.css) or (any of: *.{js,ts,json,jsx,tsx})
  eslint: any of: *.{js,ts,json,jsx,tsx}
