Repository huebama-ting/huebama-ting.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write --ignore-unknown, eslint

.lintstagedrc:

{
  "*.{css,scss,sass}": ["stylelint", "prettier --write --ignore-unknown"],
  "*.{js,ts,json}": ["eslint", "prettier --write --ignore-unknown"],
  "*.{jsx,tsx}": ["stylelint", "eslint", "prettier --write --ignore-unknown"],
  "!(*.css|*.js|*.jsx|*.json|*.ts|*.tsx)": ["prettier --write --ignore-unknown"]
}

Migrate base elements to Mantine
  src/app/common/ColourModeToggle.tsx
  src/app/common/NavWrapper.tsx
  src/app/common/NavigationBar.tsx
  src/app/shared/styles/layout.module.css
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate home page to Mantine
  src/app/routes/home/Home.tsx
  src/app/routes/home/home.module.css
  src/app/shared/components/Layout.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update variable name
  src/app/common/NavWrapper.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update ESLint config
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint

Split Mantine chunks
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Add Mantine Forms
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Migrate coop report select to Mantine
  src/app/common/NavigationBar.tsx
  src/app/components/coop-report/CoopReportSelect.tsx
  src/app/routes/CoopReport.tsx
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate error element to Mantine
  src/app/routes/ErrorElement.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Tweak main
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint

Remove unused fonts
  src/index.css
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update Select styling
  src/app/components/coop-report/CoopReportSelect.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate coop report view to Mantine
  src/app/components/coop-report/CoopReportContentView.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Create coop route folder
  src/app/routes/coop/CoopReport.tsx
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate PWA prompt to Mantine
  src/app/common/PwaReloadPrompt.tsx
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate Loader to Mantine
  src/app/shared/components/Loading.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Simplify styles
  src/app/common/NavWrapper.tsx
  src/app/shared/styles/layout.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate error route to Mantine
  src/app/routes/ErrorElement.tsx
  src/app/shared/components/Layout.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Move doll routes to folders
  src/app/routes/doll/DollDirectory.tsx
  src/app/routes/doll/DollInfo.tsx
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Simplify page layout
  src/app/shared/components/Layout.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Start migration of doll card to Mantine
  src/app/components/doll/DollCard.tsx
  src/app/components/doll/styles/doll-card.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Use Mantine image in home page
  src/app/routes/home/Home.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate doll directory page to Mantine
  src/app/components/doll/DollCard.tsx
  src/app/routes/doll/DollDirectory.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate doll details page to Mantine
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/DollRarity.tsx
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Add Mantine carousel
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Migrate carousel to Mantine
  src/app/components/doll/DollDetails.tsx
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown, eslint

Reenable custom font family
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Update Vite config
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Style nav bar
  src/app/common/ColourModeToggle.tsx
  src/app/common/NavigationBar.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Use auto colour scheme
  src/main.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove unneeded packages
  package.json
  pnpm-lock.yaml
  src/app/shared/components/Carousel.tsx
  src/main.tsx
  tsconfig.json
Due: stylelint, prettier --write --ignore-unknown, eslint

Remove redundant chunk config
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint

Update PostCSS config
  postcss.config.js
Due: prettier --write --ignore-unknown, eslint

Use mroe specific style selector
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Refactor RarityText
  src/app/components/doll/DollDetails.tsx
Due: stylelint, prettier --write --ignore-unknown, eslint

Add border radius to info container
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown

Simplify CSS
  src/app/routes/home/home.module.css
Due: stylelint, prettier --write --ignore-unknown

Reorganise CSS ordering
  src/app/components/doll/styles/doll-card.module.css
  src/app/components/doll/styles/doll-details.module.css
Due: stylelint, prettier --write --ignore-unknown
